<html>
  <head>
    <title>Upload Image Demo</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'uploadimage/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'uploadimage/css/custom.css' %}" />

    <script src="{% static 'uploadimage/js/ng-file-upload/angular.min.js' %}"></script>
    <script src="{% static 'uploadimage/js/ng-file-upload/ng-file-upload-shim.min.js' %}"></script>
    <script src="{% static 'uploadimage/js/ng-file-upload/ng-file-upload.min.js' %}"></script>

  </head>
  <body>
    <h1>Upload Image Demo</h1>
  </body>
</html>
