<html>
  <head>
    <title>Upload Image Demo</title>
    {% load staticfiles %}
    <script src="{% static 'uploadimage/js/ng-file-upload/angular.min.js' %}"></script>
    <script src="{% static 'uploadimage/js/ng-file-upload/ng-file-upload-shim.min.js' %}"></script>
    <script src="{% static 'uploadimage/js/ng-file-upload/ng-file-upload.min.js' %}"></script>
    <script src="{% static 'uploadimage/js/ngImgCrop/ng-img-crop.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'uploadimage/js/ngImgCrop/ng-img-crop.css' %}">
    <style>
    .cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:500px;
      height:350px;
    }
    </style>
  </head>

  <body ng-app="fileUpload" ng-controller="MyCtrl">
    <form name="myForm" enctype="multipart/form-data">
      <fieldset>
        <legend>Upload on form submit</legend>
        Username:
        <input type="text" name="userName" ng-model="username" size="31" required>
        <i ng-show="myForm.userName.$error.required">*required</i>
        <br>Photo:
        <input id="fileInput" type="file" ngf-select ng-model="picFile" name="file"
               accept="image/*" ngf-max-size="2MB" required
               ngf-model-invalid="errorFile">
        <i ng-show="myForm.file.$error.required">*required</i><br>

        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
        <br>
        <button ng-disabled="!myForm.$valid"
                ng-click="uploadPic(picFile)">Submit</button>
        <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%"
              ng-bind="picFile.progress + '%'"></div>
        </span>
        <span ng-show="picFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

        <div class="cropArea">
          <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
        </div>
        <div>Cropped Image:</div>
        <div><img ng-src="{$myCroppedImage$}" /></div>

      </fieldset>
    <br>
  </form>
</body>
</html>

<script>
var app = angular.module('fileUpload', ['ngImgCrop', 'ngFileUpload']);
app.config(function($httpProvider, $interpolateProvider) {
  // csrftoken for django.
  $httpProvider.defaults.xsrfCookieName = 'csrftoken';
  $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
  // django and argular use the same '{{ xx }}' tag, so need to change one to '{% xx %}'.
  $interpolateProvider.startSymbol('{$');
  $interpolateProvider.endSymbol('$}');
});
app.controller('MyCtrl', ['$scope', 'Upload', '$timeout', function ($scope, Upload, $timeout) {
    $scope.uploadPic = function(file) {
    file.upload = Upload.upload({
      url: 'http://127.0.0.1:8000/uploadimage/upload/',
      data: {username: $scope.username, file: file},
    });
    file.upload.then(function (response) {
      $timeout(function () {
        file.result = response.data;
      });
      }, function (response) {
        if (response.status > 0)
          $scope.errorMsg = response.status + ': ' + response.data;
      }, function (evt) {
        // Math.min is to fix IE which reports 200% sometimes
        file.progress = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
      });
    }

    $scope.myImage='';
    $scope.myCroppedImage='';
    var handleFileSelect=function(evt) {
      var file=evt.currentTarget.files[0];
      var reader = new FileReader();
      reader.onload = function (evt) {
        $scope.$apply(function($scope){
          $scope.myImage=evt.target.result;
        });
      };
      reader.readAsDataURL(file);
    };
    angular.element(document.querySelector('#fileInput')).on('change',handleFileSelect);
}]);
</script>
